*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
  padding: 0;
  margin: 0;
}

.container{
  width: 780px;
  margin: 10px auto;
  position: relative;
  background-color: bisque;
  height: 1000px;
}

input{
  width: 778px;
  height: 80px;
  border: 25px solid #e91e633d;
  background-color: #ffc0cb1f;
}
input:focus{
  outline: none;;
}

.there-are-no-tasks{
  width: 90%; 
  height: 80px;
  border: 10px solid rgb(158 158 158 / 8%);
  background-color: #ffc0cb1f; 
  height:60px; 
  line-height: 39px; 
  cursor:pointer; 
  margin-bottom: 4px; 
  padding-left: 11px;
}
 div.task-name {
  width: 686px;
  height: 80px; 
  border: 10px solid rgb(158 158 158 / 8%); 
  background-color: #ffc0cb1f; 
  height:60px; line-height: 39px; 
  cursor:pointer; 
  margin-bottom: 4px; 
  padding-left: 11px;
}
.plus{
    color: #9E9E9E;
    font-size: 50px;
    border: 7px solid #e91e633d;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    height: 51px;
    line-height: 42px;
    position: absolute;
    top: 14px;
    right: 0px;
    background-color:  #e91e63;
    cursor: pointer;
    transition: transform .3s;
}
.tasks{
  margin: 91px;
  width: 684px;
  margin-left: 53px;
  position: relative;
  
}

.information{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  position: fixed;
  bottom: 25px;
}


.tasks-no{
  position: relative;
}


.Completed {
  float: right;
  position: relative;
  left: 81px;
}
.tasks-no span,
.Completed span{
    background-color: #9E9E9E;
    color: white;
    width: 50%;
    display: inline-block;
    text-align: center;
    border-radius: 26%;
    text-align: center;
    align-items: center;
    
}
.tasks-name:first-child{
  position: relative;
}
div.finish{
 text-decoration: line-through;
}


.plus:hover{
  transform: rotate(40deg)scale(1.1);
}

.swal{
  background-color: black;
  color: white;
}

.swal-button{
  background-color:#eee;
  color: black;
}

.swal-text{
  color: palevioletred;
}

.swal5-text{
  color: palevioletred !important;
}

.delete-all{
  background-color:#9E9E9E;
  border-radius: 5px; 
}
.Complete-all{
 background-color: #e91e63;
 border-radius: 5px; 
}

.last-buttons{
position: absolute;
top: 157px;
left: 294px;
}

@media(max-width:480px){
  .container {
    width: 100%;
    margin: 0;
    height: 550px;
}

  input {
    width: 100%;
   height: 73px;
  }

  .tasks {
   width: 95%;
   margin: 3px 0;
  }

  .there-are-no-tasks {
    width: 316px;
  }

  .tasks div div.task-name {
    width: 100%;
  }


  .Completed {
   left: 0;
  }

  .last-buttons {
   position: absolute;
   top: 10%;
   left: 26%;
  }
}

@media(min-width:481px) and (max-width:767px){
  .container{
  height: 611px;
  width: 85%;
  }
  input {
    width: 100%;
  }

  .tasks {
    width: 85%;
    top: -12%;
  }

  .there-are-no-tasks {
    width: 100%;
  }

   div.task-name {
    width: 100%;
  }
  .last-buttons {
    top: 10%;
    left: 36%;
  }

  .Completed {
   left: 0px;
  }


}

@media(min-width:768px) and (max-width:1023px){
  .container{
    height: 611px;
    width: 90%;
  }

  input {
    width: 100%;
  } 

  div.task-name {
    width: 100%;
  }
  .tasks {
    width: 90%;
    top:-14%;
  }

  .last-buttons {
    top: 10%;
    left: 40%;
  }

  .Completed {
   left: 0px;
  }

}
@media (min-width: 1024px){
  .container{
    height: 626px;
    width: 95%;
  }

  .tasks {
    width: 90%;
    top: -13%;
}

  input {
    width: 100%;
 }

  div.task-name {
   width: 100%;
}


  .Completed {
    left: 0px;
 }

 .last-buttons {
  top: 11%;
  left: 41%;
}


}
